html { 
	margin: 0;
	padding: 0;
}

body { 
		font: 150% timesnewroman, serif;
		color: #FFFFFF;
		
}

p {
	margin-top: 0;
	text-align: center;
	
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

h2 {
	font-weight: italic;
	text-align: center;
}

h1 {
	text-align: center;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #00EEEE;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #0000FF;
}

	



